@model Empleado



<ul class="list-group">
    
    <li class="list-group-item">
        @Model.IdEmpleado
    </li>
    <li class="list-group-item">
        @Model.Apellido
    </li>
    <li class="list-group-item">
        @Model.Oficio
    </li>
    <li class="list-group-item">
        @Model.Salario
    </li>
    <li class="list-group-item">
        @Model.IdDepartamento
    </li>
    <li class="list-group-item">
        @Model.NombreDept
    </li> 
    <li class="list-group-item">
        @Model.Localidad
    </li>
</ul>